src/main/mule/cicd_pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="49e86ae5-da4c-4b4e-a12b-64ec046c49cd" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="7cd95e01-9542-4d10-88c8-b5ebb568d8c4" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="cicd_pipelineFlow" doc:id="6bb3c6b7-2027-4622-b26e-c5f9dcbfc69d" >
		<http:listener doc:name="Listener" doc:id="2e0b7904-5821-41d7-8218-a404adcc2697" config-ref="HTTP_Listener_config1" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="36558111-01d5-452a-ae2d-dfa00e8d44ae" config-ref="HTTP_Request_configuration" path="/api/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="14718047-4fd9-4b3d-951d-3b89425e9d8c" message="#[payload]"/>
	</flow>
</mule>
